@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
/* id使用 */
#Header{
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 700;
    width:auto;
    font-size: 40px;
    height:80px;
    text-align:center;
    line-height:80px;
    letter-spacing: 3px;
    color:#fffaf3;
    background-color:#f9c81e;
    box-shadow:0px 0px 11px gray;
    transition-duration: 0.4s;
    
}
#Header:hover{
    font-size: 42px;
}

#Content{
    overflow:auto;
    height: 1200px;
    /* background-color: purple; */
}

#Sidebar{
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans TC', sans-serif;
    width: 20%;
    float: left;
    height: 100%;
    text-align: left;
    /* line-height: 280px; */
    font-size: 15px;
    color: #ffffff;
    font-weight: bold;
    background-color: #ffec5ae7;
    box-shadow:0px 0px 9px gray;
    
}

.SidebarButton{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    background-color: #ffec5ae7;
    margin: 10px;
    padding: 15px;
    transition-duration: 0.4s;
    
}
.SidebarButton:hover{
    font-size: 18px;
    background-color: #e7d651e7;
}

#Body{
    font-family: 'Noto Sans TC', sans-serif;
    width:80%;
    height:280px;
    text-align:center;
    line-height:280px;
    font-size:15px;
    color:#f9c81e;
    font-weight:bold;
    background-color:#fffaf3;
    float:left;
}

#body{
    font-family: 'Noto Sans TC', sans-serif;
    margin-left: 21%;
    /* background-color: red; */
    height: 100%;
    overflow: hidden;
}

#body iframe { 
    width:100%;
    height:100%;
    border:none;
    
}

#Footer{
    font-family: 'Noto Sans TC', sans-serif;
    width:auto;
    height:80px;
    text-align:center;
    line-height:80px;
    font-size:15px;
    color:#fffaf3;
    font-weight:bold;
    background-color:#f9c81e;
    box-shadow:0px 0px 9px gray;
}
::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 20px;
    margin:80px 0 5px 0;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 10px;
    background: rgb(219,219,219);
}
